@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

* {
    box-sizing: border-box;
    font-family: 'Titillium Web';
    color: rgb(246, 227, 250);
    text-decoration: none;
    text-align: center;
    color:white;
  }

body{
    margin: 0;
    background-color: black;
}


/*header*/
header{
    overflow: hidden;
    width: 100vw;
    height: 98vh;
    position: relative;
    background:linear-gradient(to right,rgba(65, 0, 255, 0.33),rgba(255, 0, 232, 0.23));
    padding-bottom: 30px;
}

.backgroundVideo{
    z-index: -1;
    position: absolute;
}

.backgroundVideo video{
    width: 100%;
    height: auto;
}

.overlayContent{
  position: absolute;
  top: 50%; 
  left: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;  /* <--- I added this */
  align-items: center;
}

.overlayContent h1{
  font-size: 3em;  
}

.overlayContent h2{
  font-size: 1.5em;
  margin-top: 10px;
}

/*navbar*/
.navBar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    transition: top 0.3s;
    z-index: 3;
    transition: all .35s ease;
}

.navBar a{
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    padding: .5em .8em;
    position: relative;
}

.navBar a::before,
.navBar a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navBar a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid rgb(110, 27, 143);
  border-right: 3px solid rgb(110, 27, 143);
  transform: translate(-100%, 50%);
}

.navBar a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid rgb(110, 27, 143);
  border-left: 3px solid rgb(110, 27, 143);
  transform: translate(100%, -50%)
}

.navBar a:hover:before,
.navBar a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.navBar a:hover {
  color: white;
}


section{
    width: 100vw;
    height: auto;
}

/*lightbox*/
#gallery{
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
}

.lightboxImg{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 50px;
    text-decoration: none;
}

.lightboxImg img{
    transition: 1s;
    padding: 15px;
    width: 350px;
    height: 250px;
}

.imgAnimation img:hover{
    filter: hue-rotate(90deg);
    transform: scale(1.1);
}


.lightboxOverlay{
  width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
  background: rgb(0, 0, 0, .8);
}

.lightboxOverlay a.lb-next{
  position: absolute;
  color: white;
  font-size: 35px;
	width: 55px;
	height: 80px;
  margin: 40px auto 0px auto;
  top: 50%;
  left: 75%;
}

.lightboxOverlay  a.lb-prev{
  position: absolute;
  color: white;
  font-size: 35px;
	width: 55px;
	height: 80px;
  margin: 40px auto 0px auto;
  top: 50%;
	left: 20%;
}

.lightboxOverlay a.lb-close{
	z-index: 1001;
  color: #fff;
  text-decoration: none;
	position: absolute;
	top: 17%;
	left: 75%;
	font-size: 25px;
	line-height: 26px;
	text-align: center;
	width: 100px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;

}

.lightboxOverlay img{
	position: relative;
	opacity: 0;
  transition: opacity 0.5s linear;
  width: 50%; 
  height: 85%;
}

.lightboxOverlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding-top: 10%;
}

.lightboxOverlay:target img{
  opacity: 1;
}

.lightboxOverlay:target a.lb-close{
  opacity: 1;
}

.lightboxOverlay:target img {
	animation: fadeInScale 1.2s ease-in-out;
}

@keyframes fadeInScale {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

/*button*/
.btn {
    cursor: pointer;
    display: block;
    font-size: 1.7em;;
    line-height: 45px;
    max-width: 160px; 
    text-decoration: none;
    position: absolute;
    width: 100%; 
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

.btn-2, .btn-1 {
    letter-spacing: 0;
}


.btn-2:hover,
.btn-2:active {
  letter-spacing: 3px;
}

.btn-1:hover,
.btn-1:active {
  letter-spacing: 3px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid white;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-1:after,
.btn-1:before {
  backface-visibility: hidden;
  border: 1px solid white;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: rgb(110, 27, 143);
  transition: width 450ms ease-in-out;
  width: 80%;
}

.btn-1:hover:after,
.btn-1:hover:before {
  backface-visibility: hidden;
  border-color: rgb(110, 27, 143);
  transition: width 450ms ease-in-out;
  width: 80%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 80%;
}

.btn-1:hover:before {
  bottom: auto;
  top: 0;
  width: 80%;
}

/*About page*/
.myContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.myContent img{
  width: 350px;
  height: 450px;
  margin: 75px 5px 0 75px;
  border-radius: 10px;
}

.myContent h2{
  margin: 70px 10px 0 75px;
  font-size: 35px;
  height: auto;
  width: auto;
}

.myContent p{
  font-size: 20px;
  margin: 25px 20px 40px 75px;
  width: 555px;
  text-align: initial;
}

/*Footer*/
footer{
  height: auto;
  width: 100vw;
  
}

.contactMe{  
  width: 100vw;
  background:linear-gradient(to right,rgba(65, 0, 255, 0.33),rgba(255, 0, 232, 0.23));
  overflow: hidden;
  height: 370px;
}

.wrapContent{
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content:center;
  height: 185px;
}

/*Footer*/
#mailTo{
  font-size: 20px;
  text-decoration: underline;
}

.contactMe h1{
  font-size: 3.5em; 
  margin-top: 0;
  color: white;
  text-align: center;
}

.contactMe h2{
  color: white;
  text-align: center;
}

/*icons*/
ul{
  margin: 0;
  padding: 0;
  display: flex;
}

ul li{
  position: relative;
  list-style: none;
  width: 25px;
  height: 50px;
  margin: 0 25px;
  border-radius: 50%;
}

ul li a{
  position: absolute;
  top: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 80px;
  color:#fff;
  font-size: 25px;
  border-radius: 50%;
}

ul li a:before{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(20px);
  opacity: 0;
  transition: .5s;
  transform: scale(.9);
  z-index: 0;
 
}

ul li a:hover{
text-shadow: 0 0 5px whitesmoke;
}

/*My Works page*/
.contentWorks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  max-width: 600px;
  margin:auto;
  background:  white;
  transition: 0.3s;
  padding: 3px;
  border-radius: 25px;
  position: relative;
  border-color: black;
  border-style: solid;
  box-shadow: 15px 10px 30px 5px rgba(91, 14, 121, 0.5);
}

.card p{
  color: black;
}


.parallax{
  width: 100vw;
  overflow: hidden;
  margin-bottom: 25px;
  max-height: 450px;
  width: 500px;
  background-color:rgba(91, 14, 121, 0.9);
  border-color: black;
  border-style: solid;
  box-shadow: 15px 10px 30px 5px rgba(91, 14, 121, 0.5);
  border-radius: 25px;
}

.parallax p{
  color: black;
}
/*
.overlayParallax {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(110, 27, 143);
  border-radius: 25px;
}

.parallax:hover .overlayParallax {
  opacity: 1;
}


.textParallax {
  color: white;
  font-size: 1.8em;
  margin-top: 25%;
  text-align: center;
}
*/

.duck p{
  color:black;
}

.duck{
  overflow: hidden;
  max-height: 450px;
  width: 500px;
  margin-bottom: 25px;
  background-color:rgba(91, 14, 121, 0.9);
  box-shadow: 15px 10px 30px 5px rgba(91, 14, 121, 0.5);
  border-color: black;
  border-style: solid;
  border-radius: 25px;
  position: relative;
}
/*
.overlayDuck {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(110, 27, 143);
  border-radius: 25px;
}

.duck:hover .overlayDuck {
  opacity: 1;
}


.textDuck {
  color: white;
  font-size: 1.8em;
  margin-top: 25%;
  text-align: center;
}
*/

.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(110, 27, 143);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(110, 27, 143);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.videoWork{
  width: auto;
  height: auto;
  margin-bottom: 25px;
  background-color: black;
 
}

.description{
  text-align: center;
  padding: 5px 15px;
  height: auto;
}

/*overlay on card My Works*/
.overlayPicture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(110, 27, 143);
  border-radius: 25px;
}

.card button {
  border-radius: 5px;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgba(110, 27, 143);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  background-color:black;
  
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 14%;
  top: 0;
  width: 75%; /* Full width */
  height: 90%; /* Full height */
}

/* Modal Content */
.modal-content {
  background-color: rgb(110, 27, 143, 0.8);
  margin: auto;
  padding: 20px;
  width: 80%;
  height: 85%;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(110, 27, 143);
  text-decoration: none;
  cursor: pointer;
}

/*carousel*/
.carousel-item{
  position:absolute;
  background: black;
  opacity:0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  width: 600px;
  left: 30%;
}

.arrow{
  position:absolute;
  top:30px;
  display:block;
  width:50px;
  height:100%;
  color: lightyellow;
  background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-light.png") 50% 50% / 20px no-repeat;
}

.arrow-prev{
  left:1%;
  position: absolute;
}

.arrow-next{
  right:1%;
  position: absolute;
  transform: rotate(180deg);
}

.item-1{
  z-index: 2;
  opacity: 1;
  background:black;
  background-size:cover;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2  {
  z-index: 3;
  opacity: 1;
  background:black;
  background-size:cover;
}


@media only screen and (max-width: 600px) {
  .lightboxOverlay img{
    width: 400px; 
    height: 350px;
  }
  .lightboxOverlay a.lb-close{
    top: 7%;
    left: 80%;
  }

  .lightboxOverlay a.lb-next{
    top: 25%;
    left: 85%;
  }
  
  .lightboxOverlay  a.lb-prev{
    top: 25%;
    left: 3%;
  
  }

  header{
    height: 75vh;
  }

  .overlayContent{
    top: 65%; 
    left: 15%;
  }

  .overlayContent h1{
    font-size: 1.5em;
  }

  .overlayContent h2{
    font-size: 1.2em;
  }

  .btn-1{
    font-size: 1em;
    left: 0;
    margin-left: 20%;
  }

  .navBar a{
    font-size: 1em;
}

  .myContent p{
    font-size: 15px;
    width: 350px;
  }

  .footerLeft{
    font-size: 10px;
  }

  .footerLeft a{
    font-size: 15px;
  }

  ul li{
    width: 12px;
  }
  
  #mailTo{
    margin-left: 0;
  }

  .parallax{
    width: 60vw;
    height: auto;
  }

  .duck{
    width: 60vw;
    height: auto;
  }

  .videoWork{
    width: 95vw;
  }

  .carousel-item{
    width: 400px;
    height: 400px;
    left: 3%;
}


}



 