body, html {
    height: 100%;
    margin: 0;
    background: rgb(53,53,53);
    
  }

  *{
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-family: 'Titillium Web';
    color: white;
  }

  h1{
    color: 	rgb(0,128,128);
    font-size: 8vh;
  }

  h2{
    color: white;
  }

  h3{
    color: white;
    text-align: center;
}

  p{
    color:white;
    font-size: 2vw;
  }
 
  /*Main Page*/
  .bg {
  height: 100vh;
  min-height: 500px;
  background-image: url(img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  }

  .first{
    text-align: left;
    opacity: 0; 
    animation: fadeInUp 2s ease-in-out 0s forwards;
    animation-delay: 6s;
  }

  .second {
    text-align: left;
    opacity: 0; 
    animation: fadeInUp2 2s ease-in-out 0s forwards;
    animation-delay: 1.5s;
    }
  

  @keyframes fadeInUp {
    0% { 
      opacity: 0;
      color:white;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    50%{
      color:white;
    }
  
    100% {
      opacity: 1;
      color:rgb(0, 128, 128);
      -webkit-transform: none;
      transform: none;
    }
  }
  

  @keyframes fadeInUp2 {
    from { 
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

/*Nav*/
/*navbar*/
.navBar{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100%;
  height: 80px;
  transition: top 0.3s;
  z-index: 3;
  transition: all .35s ease;
}

.navBar a{
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.7em;
  color:white;
  padding: .5em .8em;
  position: relative;
}

.navBar a::before,
.navBar a::after {
content: '';
height: 14px;
width: 14px;
position: absolute;
transition: all .35s ease;
opacity: 0;
}

.navBar a::before {
content: '';
right: 0;
top: 0;
border-top: 5px solid rgb(0,128,128);
border-right: 5px solid rgb(0,128,128);
transform: translate(-100%, 50%);
}

.navBar a:after {
content: '';
left: 0;
bottom: 0;
border-bottom: 5px solid rgb(0,128,128);
border-left: 5px solid rgb(0,128,128);
transform: translate(100%, -50%)
}

.navBar a:hover:before,
.navBar a:hover:after{
transform: translate(0,0);
opacity: 1;
}

.navBar a:hover {
color: white;
}

/*Home*/
/*Title Animation*/

.containerTitle{
  position: absolute;
  margin-top: 10%;
}

.boxTitle{
  width: 350px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 55px;
  margin-left: 105px;
}

.block {
  width: 0%;
  height: inherit;
  background: black;
  position: absolute;
  animation: mainBlock 1.5s cubic-bezier(.74, .06, .4, .92) forwards;
  display: flex;
  }

.animateTitle{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
}

.nameAnimate{
  font-size: 32px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.2s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
    background:black;

  }
  50% {
    width: 100%;
    left: 0;
    background: black;

  }

  100% {
    width: 0;
    left: 100%;
    background: rgb(0,128,128);
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Work Example Cards*/

.container{
  max-width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 30px 50px 30px;
}

.content{
  position: relative;
}

.content a{
  position: absolute;
  top: 30%;
  left: 30%;
}

.content p{
  color: white;
}

.content h2{
  color: white;
}

.container .card{
  position: relative;
}

.container .card .face{
  width: 350px;
  height: 200px;
  transition: .8s;
}

.container .card .face.face1{
  position: relative;
  background: rgb(53,53,53);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: rgb(53, 53, 53);
  transform: translateY(0);
  color:white;
}

.container .card .face.face1 .content{
  transition: 0.5s;
}

.container .card:hover .face.face1 .content{
  opacity: 1;
}

.container .card .face.face1 .content img{
  width: 350px;
  height: 150px;
  opacity: 0;
}

.container .card:hover .face.face1 .content img{
  opacity: 1;
  transition: 0.5s;
}

.container .card .face.face1 .content h2{
  margin: 10px 0 0;
  padding: 0;
  color:rgb(0, 128, 128);
  text-align: center;
  font-size: 2em;
}

.container .card:hover .face.face1 .content h2{
  margin:0;
  padding: 0;
  color:white;
  text-align: center;
  font-size: 2em;
}

.container .card .face.face2{
  position: relative;
  background: rgb(53, 53, 53);
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: black;
  padding: 11px;
  background: #333;
  color: #fff;
  border: 2px solid white;
  outline: 5px solid #333;
}

.container .card .face.face2 .content a:hover{
  border: 2px solid white;
  outline: 3px solid white;
  transition: 0.6s all ease-in;
}

.card button {
  border-radius: 5px;
  outline: 0;
  padding: 7px;
  color: white;
  background-color: rgba(0, 128, 128);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 13px;
}

.card button:hover {
  background-color:black;
  
}

/*Skills Home*/

.skills{
  background: linear-gradient (to right,rgba(255, 255, 255, 0.33),rgba(0, 128, 128, 1));
  width: 100vw;
  height: 100%;
  margin-bottom: 50px;
}

.skillsCards{
  max-width: 100%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.cards{
  width: 251px;
   height: 300px;
   margin: 30px;
   border-radius: 5px;
   box-shadow: 2px 2px 2px rgb (0,0,0,0.8);
   transition: all .6s;
   box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
   position: relative;

  }


  .descriptionCards{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .cards:hover{
    transform: rotateX(7deg) translateY(-15px);
  }

/*Footer*/
.contactFooter{
  overflow: hidden;
}

footer{
  height: auto;
  width: 100vw;
}
/*
.contactMe{  
  background:rgb(0, 128, 128);
}
*/

.wave-container{
  margin-bottom: -200px;
}

.wrapContent{
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content:center;
  height: 185px;
  background:rgb(0, 128, 128);
}

#mailTo{
  margin-top: 35px;
  font-size: 20px;
}

/*Contact section icons*/
ul{
  margin: 0;
  padding: 0;
  display: flex;
}

ul li{
  position: relative;
  list-style: none;
  width: 25px;
  height: 50px;
  margin: 0 25px;
  border-radius: 50%;
}

ul li a{
  position: absolute;
  top: 5px;
  bottom: 10px;
  text-align: center;
  line-height: 80px;
  color:#fff;
  font-size: 25px;
  border-radius: 50%;
}

ul li a:before{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(20px);
  opacity: 0;
  transition: .5s;
  transform: scale(.9);
  z-index: 0;
 
}

ul li a:hover{
text-shadow: 0 0 5px whitesmoke;
}

/*My Work*/
/*Animation*/

.foxAnimation{
  width:400px;
  height: 250px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.scene {
  width:400px;
  height: 250px;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.foxAnimation .moon {
  width: 35px;
  height: 35px;
  top: 35px;
  right: 0px;
  border-radius: 50%;
  background-color: rgba(178, 170, 20);
  position: absolute;
  border: 2px solid #333;
  animation: float 5s ease-in-out infinite;
  }

.stars{
  width:400px;
  height: 100px;
  position: absolute;
  background-image: url(img/stars.png);
  animation: shining 3s infinite;
}

.fox{
  width:400px;
  height: 150px;
  top: 30%;
  left: 15%;
  position: absolute;
  background-image: url(img/fox.png);
  background-repeat: no-repeat;
  animation: sleeping 3s infinite;
}

.trees{
  width:400px;
  height: 250px;
  position: absolute;
  background-image: url(img/trees.png);
  animation: wind 3s infinite;
}

@keyframes wind{
  0%{
    transform:skewX(.5deg);

  }
  50%{
    transform: skewX(0);
  }
  100%{
    transform:skewX(.5deg);
  }
}

@keyframes sleeping{
  0%{
    transform: translateY(-1px);
  }
  
  50%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-1px);
  }
}

@keyframes shining{
  0%{
    opacity: 100%;
  }
  25%{
    opacity: 75%;
  }
  50%{
    opacity: 100%;
  }
  100%{
    opacity: 75%;
  }
}

@keyframes float {
    0% {
      transform: translate(0);
      top: 5;
    }

    25% {
      top: 0;
    }

    50%{
      top: -5%;
    }

    75%{
      
      top: 0;
    }

    100% {transform: translate(-370px);
      top: 5;
    }
  }

.buttom{
  margin-top: 15px;
  height: 200px;
}

.headerMyWorks{
  text-align: center;
  }

.headerMyWorks h1{
 font-size: 4vw; 
 text-transform: uppercase; 
 margin-bottom: 50px; 
 margin-top:100px; 
 text-shadow: 1px 1px white, 2px 2px #777;
}  

.workChoose{
    margin-top: 100px; 
    margin-bottom: 75px;
  }

  .w3-row{
    height: 250px;
  }

/*Btn Top*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(0, 128, 128);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/*a border animation*/
.workChoose a{
  margin-right: 40px;
  margin-bottom: 50px;
  font-size: 1.5em;
  color:white;
  cursor: pointer;
  position: relative;
  text-decoration: none;
/*   border: 2px solid #f00; */
  text-align: center;
  line-height: 50px;
  padding: 10px;
}

.workChoose a:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
/*   width: 100%;
  height: 100%; */
  width: 0;
  height: 0;
  background: transparent;
/*   border: 2px solid #262626; */
  border: 3px solid transparent;
}

.workChoose a:hover:before {
  animation: animate-border 0.5s linear forwards;
}

@keyframes animate-border {
  0% {
    width: 0;
    height: 0;
/*     border: 2px solid transparent; */
    border-top-color: white;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
/*     border: 2px solid #262626; */
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }  
  100% {
    width: 100%;
    height: 100%;
/*     border: 2px solid #262626; */
    border-top-color: rgb(0, 128, 128);
    border-right-color: rgb(0, 128, 128);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.workChoose a:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
/*   width: 100%;
  height: 100%; */
  width: 0;
  height: 0;
  background: transparent;
/*   border: 2px solid #262626; */
  border: 3px solid transparent;
}

.workChoose a:hover:after {
  animation: animate-border-2 0.5s linear forwards;
}

.workChoose a:hover{
color:rgb(0, 128, 128);
}

@keyframes animate-border-2 {
  0% {
    width: 0;
    height: 0;
/*     border: 2px solid transparent; */
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: white;
  }
  50% {
    width: 0;
    height: 100%;
/*     border: 2px solid rgb(188, 140, 207); */
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: white;
  }  
  100% {
    width: 100%;
    height: 100%;
/*     border: 2px solid rgb(188, 140, 207)*/
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(0, 128, 128);
    border-left-color: rgb(0, 128, 128);
    
  }
}

/*Graphic Design pictures*/
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(0, 128, 128);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(0, 128, 128);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Motion Video*/

.backgroundVideo{
  z-index: -1;
}

.backgroundVideo video{
  width: 90%;
  height: auto;
}


/*Gallery Page*/
/*gallery Title*/
.galleryTitle{
  margin-bottom: 50px; 
  margin-top:100px; 
  }
  
  /*lightbox*/
  #gallery{
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
  }
  
  .lightboxImg{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 50px;
    text-decoration: none;
  }
  
  .lightboxImg img{
    transition: 1s;
    padding: 15px;
    width: 350px;
    height: 250px;
  }
  
  .imgAnimation img:hover{
    filter: hue-rotate(90deg);
    transform: scale(1.1);
  }
  
  .lightboxOverlay{
  width: 0px;
  height: 0px;
  position: fixed;
  overflow: hidden;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: 99;
  text-align: center;
  background: rgb(0, 0, 0, .8);
  }
  
  .lightboxOverlay a.lb-next{
  position: absolute;
  color: white;
  font-size: 35px;
  width: 55px;
  height: 80px;
  margin: 40px auto 0px auto;
  top: 45%;
  left: 75%;
  }
  
  .lightboxOverlay a.lb-next:hover{
    background-color: rgb(0, 128, 128);
    width: 55px;
    height: 60px;
    }
  
  .lightboxOverlay  a.lb-prev{
  position: absolute;
  color: white;
  font-size: 35px;
  width: 55px;
  height: 80px;
  margin: 40px auto 0px auto;
  top: 45%;
  left: 20%;
  }
  
  .lightboxOverlay a.lb-prev:hover{
    background-color: rgb(0, 128, 128);
    width: 55px;
    height: 60px;
    }
  
  .lightboxOverlay a.lb-close{
  z-index: 1001;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 17%;
  left: 75%;
  font-size: 25px;
  line-height: 26px;
  text-align: center;
  width: 100px;
  height: 23px;
  overflow: hidden;
  margin-left: -25px;
  opacity: 0;
  }
  
  .lightboxOverlay img{
  position: relative;
  opacity: 0;
  transition: opacity 0.5s linear;
  width: 50%; 
  height: 85%;
  }
  
  .lightboxOverlay:target {
  width: auto;
  height: auto;
  bottom: 0px;
  right: 0px;
  padding-top: 10%;
  }
  
  .lightboxOverlay:target img{
  opacity: 1;
  }
  
  .lightboxOverlay:target a.lb-close{
  opacity: 1;
  }
  
  .lightboxOverlay:target img {
  animation: fadeInScale 1.2s ease-in-out;
  }
  
  @keyframes fadeInScale {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
  }

/*Tonttilan Aino page*/

.tonttilanAino, .StudentPlanner{
  background: linear-gradient(0deg, #008080 0%, #353535 75%);
}

/*button*/
.btn {
  cursor: pointer;
  display: block;
  font-size: 1.3em;;
  line-height: 45px;
  max-width: 200px; 
  text-decoration: none;
  position: absolute;
  width: 100%; 
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}

.btn-2{
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
letter-spacing: 3px;
}

.btn-2:after,
.btn-2:before {
backface-visibility: hidden;
border: 1px solid white;
bottom: 0px;
content: " ";
display: block;
margin: 0 auto;
position: relative;
transition: all 280ms ease-in-out;
width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
backface-visibility: hidden;
border-color: white;
transition: width 450ms ease-in-out;
width: 90%;
}


.btn-2:hover:before {
bottom: auto;
top: 0;
width: 90%;
}

/*About Me*/

.myContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.myContent img{
  width: 350px;
  height: 450px;
  border-radius: 10px;
}

.myContent h2{
  font-size: 35px;
  height: auto;
  width: auto;
}

.myContent p{
  font-size: 20px;
  margin-left: 60px;
  margin-bottom: 40px;
  width: 555px;
  text-align: initial;
}
.myPhoto{
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.aboutAnimation{
  margin-top: 10%;
}

/* Responsive*/
@media only screen and (max-width: 600px) {
  .bg{
    background-image: url(img/bg_small.png);
  }
  .boxTitle {
    width: 150px;
    height: 400px;
  }
  .nameAnimate{
    width: 100%;
    
  }

  p{
    font-size: 3vh;
  }

 .workName{
    width: 100%;
  }
  
  .sketch{
    height: 200px;
    width: 400px;
  }

  .wave-container{
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
}

@media screen and (min-width: 1900px) {
.containerTitle{
  margin-top: 35%;
}

.card{
  margin-left: 10%;
  margin-right: 10%;
}


}
